<nav class="nrm-top-navbar">
    <a class="navbar-brand" href="/"><img class="logo" src="images/nrmLogo.png"></a>
    <div class="siteHeading"><a href="/">Nepali Roommate</a></div>
    <button class="top-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#exCollapsingNavbar" 
            aria-controls="exCollapsingNavbar" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span class="bar"></span>
    </button>
    
    <div class="collapsable-menu" id="exCollapsingNavbar">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li ng-if="isLoggedIn"><a href="/dashboard">Dashboard</a></li>
            <li ng-hide="isLoggedIn"><a href="/login">Log in</a></li>
            <li ng-hide="isLoggedIn"><a class="btn-sign-up" href="/register">Sign up</a></li>
            <li ng-if="isLoggedIn" ng-click="logout()"><a class="btn-sign-up" href="/#">Log Out</a></li>
        </ul>
    </div>
</nav>