
<navigation></navigation>

<section id="createRoom">
    <h3 class="text-xs-center">Rent your room</h3>
    <p>Please fill the following details to post your room ad</p>
    <div class="createRoom-container">
        <form name='nrForm' class="form-horizontal" enctype="multipart/form-data" novalidate>
            <div class="form-group">
                <label for="unit" class="col-sm-3 control-label">Unit</label>
                <div class="col-sm-9">
                  <input name='unit' type="number" class="form-control" id="unit" placeholder="Unit" ng-maxlength='2' ng-model="room.unit">
                <div class="error" ng-show="nrForm.unit.$invalid && nrForm.unit.$dirty">
                    <span ng-show="nrForm.unit.$error.maxlength">
                        Unit number must be below 99
                    </span>
                </div>
                </div>
            </div>
           
            <div class="form-group">
                <label for="streetNo" class="col-sm-3 control-label">Street No</label>
                <div class="col-sm-9">
                    <input name='streetNo' type="number" class="form-control" id="streetNo" placeholder="Street No" ng-maxlength='3' ng-model="room.street_no">
                <div class="error" ng-show="nrForm.streetNo.$invalid && nrForm.streetNo.$dirty">
                    <span ng-show="nrForm.streetNo.$error.maxlength">
                        Street number must be below 999
                    </span>
                </div>
                </div>
            </div>
            
            <div class="form-group">
              <label for="streetName" class="col-sm-3 control-label">Street Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="streetName" placeholder="Street Name" ng-model="room.street_name">
              </div>
            </div>
            
            <div class="form-group">
              <label for="suburb" class="col-sm-3 control-label">Suburb<span id="required">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="suurb" placeholder="Suburb" ng-model="room.suburb" ng-change="getValue()">
                <ul class="suggestions-list">
                    <li ng-repeat="su in returnedSub | filter: room.suburb:strict | limitTo:7" ng-class="{active : selectedIndex === $index}" 
                        ng-click="AssignValueAndHide(su)">{{su[0]}},   {{su[1]}}  {{su[2]}}</li>
                </ul>
              </div>
            </div>
            
            <div class="form-group">
              <label for="postcode" class="col-sm-3 control-label">Post Code<span id="required">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="postcode" placeholder="Postcode" ng-model="room.postcode" required>
              </div>
            </div>
            
            <div class="form-group">
              <label for="state" class="col-sm-3 control-label">State<span id="required">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="state" placeholder="State" ng-model="room.state" required>
              </div>
            </div>
            
            <div class="form-group">
                <label for="rent" class="col-sm-3 control-label">Weekly Rent $<span id="required">*</span></label>
                <div class="col-sm-9">
                    <input name='rent' type="number" class="form-control" id="rent" placeholder="Weekly Rent" ng-model="room.rent" ng-maxlength='4' required>
                    <div class="error" ng-show="nrForm.rent.$invalid && nrForm.rent.$dirty">
                        <span ng-show="nrForm.rent.$error.maxlength">
                            It looks unusual weekly rent
                        </span>
                        <span ng-show="nrForm.rent.$error.required">
                            Please enter weekly rent amount.
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
              <label for="bond" class="col-sm-3 control-label">Bond</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="rent" placeholder="Bond" ng-model="room.bond">
              </div>
            </div>
            
            
            <div class="form-group">
                <label for="gender" class="col-sm-3 control-label">Preferred Gender</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" id="inlineRadioOptions" value="couple" ng-model="room.gender"> Couple
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="inlineRadioOptions" value="female" ng-model="room.gender"> Female
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="inlineRadioOptions" value="male" ng-model="room.gender"> Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="inlineRadioOptions" value="no preferred gender" ng-model="room.gender"> No preferred gender
                    </label>
                </div>
            </div>
            
            <div class="form-group">
                <label for="available" class="col-sm-3 control-label">Available From<span id="required">*</span></label>
                <div class="col-sm-9">
                    <input name='availableFrom' type="date" class="form-control" id="available" placeholder="Available From" ng-model="room.available_from" required>
                <div class="error" ng-show="nrForm.availableFrom.$invalid && nrForm.availableFrom.$dirty">
                    <span ng-show="nrForm.availableFrom.$error.required">
                        Please enter available date
                    </span>
                </div>
                </div>
            </div>
        
            
            <div class="form-group">
                <label for="contact" class="col-sm-3 control-label">Contact No<span id="required">*</span></label>
                <div class="col-sm-9">
                    <input name='contactNo' type="number" class="form-control" id="contact" placeholder="Contact No" ng-model="room.contact_no" ng-minlength='10' ng-maxlength='10' required>
                <div class="error" ng-show="nrForm.contactNo.$invalid && nrForm.contactNo.$dirty">
                    <span ng-show="nrForm.contactNo.$error.required">
                        Please enter Contact No (Telephone or Mobile no)
                    </span>
                    <span ng-show="nrForm.contactNo.$error.minlength">
                        Contact number must be at least 10 digit long.
                    </span>
                    <span ng-show="nrForm.contactNo.$error.maxlength">
                        Contact number must not be more than 10 digit long.
                    </span>
                </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="message" class="col-sm-3 control-label">Message</label>
                <div class="col-sm-9">
                    <textarea name='message'
                              rows="5"
                              type="text" 
                              class="form-control" 
                              id="message" 
                              placeholder="Your Message" 
                              ng-model="room.message" 
                              ng-maxlength='300'>
                    </textarea>
                <div class="error" ng-show="nrForm.message.$invalid && nrForm.message.$dirty">
                    <span ng-show="nrForm.message.$error.maxlength">
                        Your message is more than 300 character long. Please make it short.
                    </span>
                </div>
                </div>
            </div>
            
            <!--for Images -->
            <div>
                <div ng-show="compressing">
                    Compressing
                    <span><img src="images/wait.gif"></span>
                </div>
                <div class="col-sm-9 offset-sm-3">
                    <ul id="uploadImages" ng-repeat="file in files track by $index">
                        <li>
                            <span id="imagesIndex">{{$index+1}}.</span>
                            <img id="uploadImageThumbnail" ngf-thumbnail="file"/>
                            <!--<span> <img id='removeImage' src='images/remove.png' ng-click="deleteFile($index)"></span>-->
                            <button class="btn btn-sm btn-warning"> <ng-click="deleteFile($index)">Remove</button>
                            <div class="offset-xs-2 offset-sm-1 offset-md-1">
                                {{file.name}} {{file.$errorParam}}
                                <!--Size: {{file.size / 1000 | number:2}} KB-->
                            </div>  
                        </li>
                    </ul>
                </div>
                <div class="offset-sm-3" ng-if="files.length > 1 ">
                    You have selected {{files.length}} Images.
                </div>
                <div class="offset-sm-3" ng-if="files.length ===1">
                    You have selected {{files.length}} Image.
                </div>
                <div ng-hide="files.length>=4" class="form-group">
                    <label for="imagesInput" class="col-sm-3 control-label">Upload images: </label>
                <div class="col-sm-9">
                    <button class="btn btn- btn-info"
                        name="file"
                        ngf-select=""
                        ng-change="getAmazonUrl()"
                        ng-model="files"
                        ngf-max-files="4"
                        ngf-max-size="'12MB'"
                        ngf-pattern="'.jpg,.jpeg'"
                        ngf-keep="true | 'distinct'"
                        ngf-fix-orientation="true"
                        ngf-capture="'camera'"
                        ngf-resize="{width: 500, height: 500, quality: 0.8}"
                        ngf-resize-if="$width > 800 || $height > 800"
                        ngf-before-model-change="beforeChange($files)"
                        ngf-change ="afterChange($files)"
                        ngf-multiple="true">
                        Click here to select
                    </button>
                </div> 
                </div>
                
            </div>
            
            <div ng-show="nrForm.file.$invalid">
                Something went wrong: please choose images again. </br>
                <span ng-show="nrForm.file.$error.maxSize">
                    Image size too large. Maximum size : 12MB
                </span>
                <span ng-show="nrForm.file.$error.maxFiles">
                    Maximum images allowed to upload : 4
                </span>
                <span ng-show="nrForm.file.$error.pattern">
                    only .jpg or .jpeg images are allowed;
                </span>
            </div>
            
            <div class="form-group">
              <div class="offset-sm-3 col-sm-9">
                  <button ng-disabled='nrForm.$invalid' type="submit" ng-click="register(room); uploadImage()" class="btn btn-info">Submit</button>
                  <button ng-click="goHome()" class="btn btn-default btn-danger">Cancel</button>
              </div>
            </div>
            
        </form>
    </div>
</section>
