/** body */

body{
	
	background-color:getColor('mercury');
	min-height:100vh;
	padding:0px;

}



section{
	
	@include make-container();
	padding:50px 0px;
	margin:0px;
	
	h3{

		color:$text-color-heading;
		font-weight:700;
	}
}


