/** body */

body{
    
    background-color:getColor('mercury');
    min-height:100vh;
    padding:0px;

}

/** page section as container **/
section{
    
    min-height: 50vh;
    
}

/** Partial view container  **/

.main{

    margin-top:$nrm-top-navbar-height;
    padding:20px 0px;
}