/** body */

body{
	
	background-color:getColor('mercury');
	min-height:100vh;
	padding:0px;

}



section{
	@include make-container();
	padding:0px;


&#partial-view{
	//margin-top:76px;
	//min-height:700px;
}



}


