/** body */

body{
    
    background-color:getColor('mercury');
    min-height:100vh;
    padding:0px;

}

/** page section as container **/
section{
    
    min-height: 50vh;
    padding:20px 0px;
    
}

/** Partial view container  **/

.main{

    margin-top:$nrm-top-navbar-height;
    padding:20px 0px;
}


.page-wrapper{

	@include make-row();
}


.page-container{

	@include make-col(12);
	background-color: #fff;
	padding:20px 25px;
	text-align:center;
	height:auto;

	@include media-breakpoint-up(md){
			
		@include make-col(8);
		@include make-col-offset(2);

	}
	@include media-breakpoint-up(lg){

		@include make-col(6);
		@include make-col-offset(3);
	}
}