
/* Call out heading*/
h1{
    font-family:$font-moteserrat;
    font-weight:700;	
}

h2{

    font-family:$font-moteserrat;
    font-weight:700;
    color:#FFF;
}
/* Page heading*/
h3{
    color:$text-color-heading !important;
    display:block;
    font-family: $font-moteserrat;
    font-weight:700 !important;;
    text-align:center;
    text-transform:uppercase;
}

/*Sub heading / Footer heading */
h5{
    font-family:$font-moteserrat;
    font-weight:600;
}

/* body text */
p{
    font-family:$font-news-cycle;
    font-size:16px;		
}
 