
// callout heading 
h1{
	
	font-family:$font-moteserrat;
	font-weight:700;	
}
h3{
    font-family: $font-moteserrat;
    display:block;
}

//section heading
h3{
    font-family:$font-moteserrat;
    font-weight:600;

    text-align:center;
    text-transform:uppercase;
}
h5{
    font-family:$font-moteserrat;
    font-weight:600;
}


//body text
p{
	font-family:$font-news-cycle;
		
}
