














/** typo **/ 
h2{
	
	color:white;
}


h1{
	
	font-family:$font-moteserrat;
	font-weight:700;
	
}

p{
	
	font-family:$font-news-cycle;
	
	
}

.test{

	font-family: 'Metrize-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	
}

.test::before {
	content: "\e000";
}

i{
font-size:18px;

}