<navigation></navigation>
<!-- search section -->
    <!--
    <div class="search-box-wrapper">
        <div class="search-box-small">
            <search-room></search-room>
        </div>
    </div>
    -->
    <div class="searchBoxWhenResultIsReceived">
        <div class="search-box-small">
            <search-room></search-room>
        </div> 
    </div>
    <!-- End os search section -->
<section id="search-result">
    <h3 ng-if="searchedRoom.length > 0">Search Result</h3>
    <p ng-if="searchedRoom.length < 1">Sorry we couldn't find anything matching your search criteria. Please try again with different search criteria.</p>
    <p ng-if="searchedRoom.length >= 1">we have found <span class="searchedRoomNumber">{{searchedRoom.length}}</span> result<span  ng-if="searchedRoom.length > 1">s</span>.</p>

    
    
    <!-- search-result -->
    <div class="search-result">
         <!-- result-room -->
        <div class="result-room" ng-repeat="room in searchedRoom"> 
             <div class="left-col">
                 <address>
                     <div class="room-street-address">{{room.street_no}} {{room.street_name}} </div> 
                     {{room.suburb}}<br>
                     {{room.state}} {{room.postcode}}
                 </address>
                 <a href="/roomDetail/{{room._id}}" class="btn-view-details"> View Details</a>
                 <div class="stickybar">
                     <ul class="room-overview">
                         <li>{{room.gender}}</li>   
                     </ul>
                 </div>
             </div>
             <!-- End of left-col -->

             <div class="right-col">
                <img class="room-image" ng-src="{{room.images.length > 0 &&  
                            'https://s3-ap-southeast-2.amazonaws.com/nrm/'+room.images[0] || 'images/room1.jpg'}}" alt="Card image cap">
                 <span class="rent">$ {{room.rent}}</span>
             </div> 
        </div>
         <!-- End of result-room -->
    </div>
    <!--End of search-result -->
</section>
<!-- End of section -->
