<navigation></navigation>



<section id="search-result">
<div class="search-container">
<div class="search-box-small">
   
        <search-room></search-room>
</div>
</div>
    <h3>Search Result</h3>
    <div ng-if="searchedRoom.length < 1">
        <p>Sorry we couldn't find anything matching your search criteria. Please try again with different search criteria.</p>
    </div>
    <div ng-if="searchedRoom.length > 0">
    <p>we have found {{searchedRoom.length}} search results.</p>
<div class="pagination-container">
        <ul class="pagination">
            <li class="pagination-item" ng-click="backward()">
                <a class="pagination-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="pagination-item" ng-click="getRooms(1)"><a class="pagination-link" href="#">1</a></li>
            <li class="pagination-item" ng-click="getRooms(2)"><a class="pagination-link" href="#">2</a></li>
            <li class="pagination-item" ng-click="getRooms(3)"><a class="pagination-link" href="#">3</a></li>
            <li class="pagination-item">
                <a class="pagination-link" href="#" aria-label="Next" ng-click="forward()">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
</div>

    
   <div class="search-result">
        <!-- Recent Room Card -->
        <div class="result-room" ng-repeat="room in searchedRoom"> 

        <div class="left-col">
        <address>
        13 {{room.street}} <br>
        {{room.suburb}}<br>
        {{room.state}} {{room.postcode}}
        </address>
        <a href="/roomDetail/{{room._id}}" class="btn-view-details"> View Details</a>
        <div class="stickybar">
        <ul class="room-overview">
        <li class="it"><i class="fa fa-user"></i><span>{{room.gender}}</span></li>
            <li class="it"><i class="fa fa-bed"></i><span>2</span></li>
            <li class="it"><i class="fa fa-car"></i><span>Street</span></li>
        </ul>
        </div>
        </div>
        <div class="right-col"><img class="room-image" 
            ng-src="{{room.images.length > 0 &&  'https://s3-ap-southeast-2.amazonaws.com/nrm/'+room.images[0] || 'images/room1.jpg'}}" alt="Card image cap">
            <span class="rent">$ {{room.rent}}</span>
            </div>
            

            
        </div>
        <!-- End of Recent Room Card -->
    </div>
    <!-- Recent Room Container -->
    <div class="pagination-container">
        <ul class="pagination">
            <li class="pagination-item" ng-click="backward()">
                <a class="pagination-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="pagination-item" ng-click="getRooms(1)"><a class="pagination-link" href="#">1</a></li>
            <li class="pagination-item" ng-click="getRooms(2)"><a class="pagination-link" href="#">2</a></li>
            <li class="pagination-item" ng-click="getRooms(3)"><a class="pagination-link" href="#">3</a></li>
            <li class="pagination-item">
                <a class="pagination-link" href="#" aria-label="Next" ng-click="forward()">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
</div>
    </div>
    
    
    
    <div ng-if="endOfPage">
        No more rooms
    </div>
    
    
</section>



<!--
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 offset-sm-3">
                <div ng-repeat="room in searchedRoom">
                    <div>
                        <a data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="false" aria-controls="collapseExample">
                            {{room.suburb}}{{room.unit}} / {{room.street_no}}, {{room.street}}, {{room.suburb}}, {{room.postcode}}, {{room.rent}}
                        </a>
                    </div>
                     </br>
                    <div class="collapse" id="collapse{{$index}}" >
                        <div class="card card-block">
                            <div id="roomImages" class="carousel slide" data-ride="carousel" ng-if="room.images.length > 0">
                                <ol class="carousel-indicators">
                                    <li data-target="#roomImages" data-slide-to="{{$index}}" ng-repeat="img in room.images"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item" ng-class="{active:!$index}" ng-repeat="img in room.images">
                                        <img id="roomDetailImages" class="img-responsive" src="https://s3-ap-southeast-2.amazonaws.com/nrm/{{img}}" alt="image slide">
                                    </div>
                                </div>
                                <a class="left carousel-control" data-target="#roomImages" role="button" data-slide="prev">
                                    <span class="icon-prev" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" data-target="#roomImages" role="button" data-slide="next">
                                    <span class="icon-next" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div> 
                            {{room.suburb}}{{room.unit}} / {{room.street_no}}, {{room.street}}, {{room.suburb}}, {{room.postcode}}, {{room.rent}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->