#footer-contact-form{
	
	padding:0px 20px;
	
	input{

		
	}
	textarea{
		

		height:150px;

	}
	
	.form-group{

		@include make-row();
		
			.form-control{

				@include make-col(12);
				
				//ipad only
				@include media-breakpoint-only(md){

					@include make-col(10);
				}

				//desktop and aboce
				@include media-breakpoint-up(lg){

					@include make-col(10);
					
				}
			} //end of form-control
		} // end of form-group
	}//end footer form




	#search-form{

		.form-group{

			@include make-row();
		}
		input{
				@include make-col-ready();
			@include make-col(9);
			@include media-breakpoint-up(md){

			@include make-col(7);
			@include make-col-offset(1);
			}
			height:50px;
		} //end input

		.btn-search{
			@include make-col-ready();
			@include make-col(3);
			@include media-breakpoint-up(md){
			@include make-col(2);
			@include make-col-offset(1);
			}
			
		}
		
	}
