.pagination-bar{
    .pagination{
        .page-item{
            .page-link{
                color: black;
                font-weight: bold;
                @include hover-focus {
                    color: white;
                    background-color: black;
                    border-color: $pagination-hover-border;
                }
                &.active{
                    
                }
            }   
        }
    }
}