<navigation></navigation>

<div class="hero-search">
    <div class="search-box-small">
        <search-room></search-room>
    </div> <!--End of searc-box -->
</div>

<section ng-hide="hideHome">
    <h3>Available rooms</h3>
    
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" ng-click="backward()">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" ng-click="getRooms(1)"><a class="page-link" href="#">1</a></li>
            <li class="page-item" ng-click="getRooms(2)"><a class="page-link" href="#">2</a></li>
            <li class="page-item" ng-click="getRooms(3)"><a class="page-link" href="#">3</a></li>
            <li class="page-item" ng-click="getRooms(4)"><a class="page-link" href="#">4</a></li>
            <li class="page-item" ng-click="getRooms(5)"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" ng-click="forward()">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <div>
        <div class="row" ng-repeat="room in rooms">
            <div>
                <div>
                    {{room.images[0]}}
                </div>
                <h2><a href="/roomDetail/{{room._id}}">{{room.suburb}}</a></h2>
                {{room.unit}} / {{room.street_no}}, {{room.street}}, {{room.suburb}}, {{room.postcode}}, {{room.rent}}
            </div>

        </div>
    </div>

    <div ng-if="endOfPage">
        No more rooms
    </div>
    
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" ng-click="backward()">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" ng-click="getRooms(3)"><a class="page-link" href="#">1</a></li>
            <li class="page-item" ng-click="getRooms(4)"><a class="page-link" href="#">2</a></li>
            <li class="page-item" ng-click="getRooms(5)"><a class="page-link" href="#">3</a></li>
            <li class="page-item" ng-click="getRooms(6)"><a class="page-link" href="#">4</a></li>
            <li class="page-item" ng-click="getRooms(7)"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" ng-click="forward()">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>  
</section>

<search-result></search-result>

<!--
<section>
    <div ng-repeat="room in searchedRoom">
        <div >
            <div>
                {{room.images}}
            </div>
            <h2><a href="/roomDetail/{{room._id}}">{{room.suburb}}</a></h2>
            {{room.unit}} / {{room.street_no}}, {{room.street}}, {{room.suburb}}, {{room.postcode}}, {{room.rent}}
        </div>

    </div>
</section>
-->
<footer-generic></footer-generic>