
    @media (max-width: 767px){
        .navbar-header{
            height: 60px;
            background-color: #e8daef;
        }
        #nrmLogo{
            height: 35px;
            margin-left: 5px;
            margin-top: 2px;
        }
        #appTitle{
            position: absolute;
            font-family: 'Asul', sans-serif;
            font-size: 12pt;
            color: #012182;
            margin-top: 0px;
            margin-left: 5px;
            z-index: 1000;
        }
        #targetData{
            background-color: #eee6ef;
        }
        .navbar-right{
            margin-left: 130px;
        }
        .navbar-brand, .navbar-nav > li > a {
            font-family: 'Asul', sans-serif;
            line-height: 15px;
            padding-top: 0px;
        } 
         #currentUser{
            display: none;
        }
        #currentUserM{
            float: right;
            margin-right: 25px;
            font-family: 'Asul', sans-serif;
            font-size: 6pt;
            margin-top: -17px;
        }
        #userNameM{
            color: green;
            font-size: 8pt;
            font-weight: bold;
        }
        
    }
    @media (min-width: 768px){
        .navbar{
            height: 80px;
            background-color: #e8daef;
            padding-right: 20px;
        }
        #nrmLogo{
            height: 60px;
            margin-left: 5px;
            margin-top: 10px;
        }
        #appTitle{
            position: absolute;
            font-family: 'Asul', sans-serif;
            font-size: 25pt;
            color: #012182;
            margin-top: -40px;
            margin-left: 100px;
            z-index: 1000;
        }
        .navbar-default .navbar-nav > li {
            border: 1px solid transparent;
            border-radius: 6px;
            padding: 0px;
            margin: 0px;
        }
        .navbar-default .navbar-nav > li:hover {
            border: 1px solid red;
            border-radius: 6px;
            padding: 0px;
            margin: 0px;
            color: red;
        }
        .navbar-default .navbar-nav > li > a {
            font-size: 12pt;
            font-family: 'Asul', sans-serif;
        }
        .navbar-default .navbar-nav { 
            margin-top:50px;
            
        }
        .navbar-nav > li > a {
            padding-top: 3px;
            padding-bottom: 3px;
            line-height: 20px;
        }
        .navbar-default .navbar-nav .dropdown .dropdown-menu{
            background-color: #e8daef; /*Change active text color here*/
          }
         #currentUser{
            margin-right: 20px;
            margin-top: -65px;
            font-family: 'Asul', sans-serif;
            float: right;
        }
        #userName{
            color: Green;
            font-weight: bold;
            font-size: 13pt;
        }
        #currentUserM{
            display: none;
        }
       
          
    }
    .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a:hover {
            color: red; /*Change active text color here*/
          }
    .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a {
        color: blue; /*Change active text color here*/
        font-family: 'Asul', sans-serif;
        font-weight: bold;
    } 
    #appTitle > a:hover{
        text-decoration: none;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: #e8daef;
        color: blue;
    }
    .navbar-default .navbar-nav > li > a {
        color: blue; /*Change active text color here*/
    }
    .navbar-default .navbar-nav > li > a:hover {
        color: red; /*Change active text color here*/
    }
     