
//helpers

@import "helpers/manifest";

//Base 

@import "base/manifest";


//components

@import "components/manifest";


//layout

@import "layout/manifest";


//pages
@import "pages/manifest";

#fullAddress{
    font-size: 20pt;  
}

.errorSource{
    color: red;
}
.error{
    @extend .errorSource;
    margin-left: 60px;
}
.loginError{
    @extend .errorSource;
    margin-left: 15px;
}
.contactUsError{
    @extend .errorSource;
    font-size: 12pt;
    margin-top: -15px;
    margin-left: -10px;
}

