
<!--
<h2 class="text-xs-center">User Login</h2>
<div class="test-search-box">
    <form name="searchForm" id="search-form" novalidate>
        <div class="form-group" ng-class="{'has-danger':!searchForm.$pristine && searchForm.$invalid,'has-success':searchForm.$valid}">
            <input type="text" class="form-control" 
                   ng-class="{'form-control-danger':!searchForm.$pristine && searchForm.$invalid,'form-control-success':searchForm.$valid}" 
                   placeholder="Enter postcode or suburb"
                   ng-autocomplete 
                   ng-model="adrs.searchValue"
                   required>
            <button class="btn-search form-control" ng-click="addressSearch(adrs)">Search</button>
       </div>
    </form>
</div>
<div class="test"></div>
<!--End of searchForm-->  




<section id="login">
<h3 class="text-xs-center">User Login</h3>
<p>Please fill the following details to login</p>
    <div class="login-container">

    <form id="login-form">
        <div class="form-group">
        
                    <input type="text" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter name" ng-model="contactUs.name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Enter email" ng-model="contactUs.email">
                </div>
                <div class="form-group">
                    <button class="btn-send-message form-control" ng-click="sendMessage(contactUs)">Send Message</button>
                </div>

    </form>
    <!--     <div class="col-xs-12 col-sm-6 col-sm-offset-1">       

            <div class="jumbotron">
                <form name="loginForm" class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3" for="email">Email:</label>
                        <div class="col-sm-9">
                            <input name="userEmail" type="email" class="form-control" id="email" placeholder="Enter email" ng-model="user.email">
                            <div class="error" ng-show="loginForm.userEmail.$invalid && loginForm.userEmail.$dirty">
                                <span ng-show="loginForm.userEmail.$error">
                                    <span class="emailError">Incorrect email format</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="pwd">Password:</label>
                        <div class="col-sm-9"> 
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="user.password">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3"> 
                            <span class="loginError">{{loginError}}</span>
                        </div>
                    </div>
                    
                   
                    
                    <div class="form-group"> 
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" class="btn btn-info" ng-click="login(user)">Submit</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-9 col-sm-offset-3">
                            <span><a href="forgetPassword"><button class="btn btn-default">ForgetPassword</button></a></span>
                            <span><a href="register"><button class="btn btn-default">Register</button></a></span>
                        </div>
                    </div>
                </form>
                
            </div>
            
    
    </div> -->
</div>
</section>
