<section> 
    <div class="adminLoginFormContainer">
        <form role="form">
            <div class="formRow">
                <label class="labelControl" for="adminName">Username:</label>
                <div class="inputControl">
                    <input type="text" class="form-control" id="adminName" ng-model="admin.adminName">
                </div>
            </div>

            <div class="formRow">
                <label class="labelControl"  for="pwd">Password:</label>
                <div class="inputControl"> 
                    <input type="password" class="form-control" id="pwd" ng-model="admin.password">
                </div>
            </div>

            <div class="formRow"> 
                <div>
                    <button type="submit" class="adminLoginSubmitBtn btn btn-outline-success btn-block" ng-click="adminLogin(admin)">Login</button>
                </div>
            </div>
        </form>
    </div>
    <h2>{{formError}}</h2>    
</section>
