
<navigation></navigation>

<section id="user-registration">
    <h3>User Registration</h3>
    <p>Please fill up the following details to register</p>
    

    <div class="page-wrapper">
        <div class="page-container">{{URForm.newUserFN.$dirty}}
        
            <form id="user-registration-form" name="URForm" role="form"  novalidate>
            

            <div class="form-group" ng-class="{'has-danger':URForm.newUserFN.$invalid && URForm.newUserFN.$dirty,'has-success':URForm.newUserFN.$valid}">
                
                <label  class="label-control" for="firstName">Firstname:</label>
                <div class="input-wrapper">
                    <input name="newUserFN" 
                            type="text" 
                            class="form-control" 
                            id="firstName" 
                            placeholder="Enter firstname"  
                            ng-model="newUser.firstName" 
                            ng-minlength=2 
                            ng-maxlength="15" 
                            required ng-class="{'form-control-danger':URForm.newUserFN.$invalid && URForm.newUserFN.$dirty,'form-control-success':URForm.newUserFN.$valid} ">
                    
                    <div   class="error" 
                            ng-show="URForm.newUserFN.$invalid && URForm.newUserFN.$dirty">
                        <p ng-show="URForm.newUserFN.$error.minlength">
                            Please enter atleast 2 character.
                        </p>
                        <p ng-show="URForm.newUserFN.$error.maxlength">
                            Firstname must not be more than 15 character long.
                        </p>
                        <p ng-show="URForm.newUserFN.$error.required">
                            Please enter a value
                        </p>
                    </div>
                    <!-- End of error -->
                    
                </div>
                <!-- End of input-group -->
                
            </div>


            <div class="form-group" ng-class="{'has-danger':URForm.newUserLN.$invalid && URForm.newUserLN.$dirty,'has-success':URForm.newUserLN.$valid}">
                <label class="label-control" for="lastName">Lastname:</label>
                <div class="input-wrapper">
                    <input name="newUserLN" type="text" class="form-control" id="lastName" placeholder="Enter lastname" ng-model="newUser.lastName" ng-minlength="2" ng-maxlength="15" required="true" ng-class="{'form-control-danger':URForm.newUserLN.$invalid && URForm.newUserLN.$dirty,'form-control-success':URForm.newUserLN.$valid} ">
                    
                    <div class="error" ng-show="URForm.newUserLN.$invalid && URForm.newUserLN.$dirty">
                        <span ng-show="URForm.newUserLN.$error.minlength">
                            Last name must be at least 2 character long.
                        </span>
                        <span ng-show="URForm.newUserLN.$error.maxlength">
                            Lastname must not be more than 15 character long.
                        </span>
                        <span ng-show="URForm.newUserLN.$error.required">
                            Please enter a value
                        </span>
                    </div>
                    
                </div>
            </div>
            <!-- End of form-group -->

            <div class="form-group" ng-class="{'has-danger':URForm.newUserEmail.$invalid && URForm.newUserEmail.$dirty,'has-success':URForm.newUserEmail.$valid && !URForm.newUserEmail.$pristine}">
                <label class="label-control" for="email">Email:</label>
                <div class="input-wrapper">
                  <input  
                         name="newUserEmail" 
                         type="email" 
                         class="form-control" 
                         id="email" 
                         placeholder="Enter email"  
                         ng-model="newUser.email" 
                         ng-blur='validateEmail(newUser)' 
                         ng-focus='hideError()'
                         ng-class="{'form-control-danger':URForm.newUserEmail.$invalid && URForm.newUserEmail.$dirty,'form-control-success':URForm.newUserEmail.$valid,usedEmail : emailError} ">
                  <span class='inputError invalid'>{{emailError}}</span>
                </div>
                
            </div>
            <!-- End of form-group -->

            <div class="form-group" ng-class="{'has-danger':URForm.newUserPwd.$invalid && URForm.newUserPwd.$dirty,'has-success':URForm.newUserPwd.$valid && !URForm.newUserPwd.$pristine}">
                <label class="label-control" for="pwd">Password:</label>
                <div class="input-wrapper"> 
                  <input name="newUserPwd" 
                         type="password" 
                         class="form-control" 
                         id="pwd" 
                         placeholder="Enter password (Min 5 char)"  
                         ng-model="newUser.password" 
                         ng-minlength="5" 
                         required
                         ng-class="{'form-control-danger':URForm.newUserPwd.$invalid && URForm.newUserPwd.$dirty,'form-control-success':URForm.newUserPwd.$valid} ">
                </div>
                
            </div>


            <div class="form-group" ng-class="{'has-danger':URForm.newUserPwd1.$invalid && URForm.newUserPwd1.$dirty,'has-success':URForm.newUserPwd1.$valid && !URForm.newUserPwd1.$pristine}">
                <label class="label-control" for="pwd1">Confirm password:</label>
                <div class="input-wrapper"> 
                  <input  
                         name="newUserPwd1" 
                         type="password" 
                         class="form-control" 
                         id="pwd1" 
                         placeholder="ConfirmPassword" 
                         ng-model="newUser.password1" 
                         ng-minlength="5" 
                         ng-blur="checkTwoPwd()" 
                         ng-focus="removePwdMatchError()" 
                         required
                         ng-class="{'form-control-danger':URForm.newUserPwd1.$invalid && URForm.newUserPwd1.$dirty || pwdMatchError,'form-control-success':URForm.newUserPwd1.$valid} ">
                  <span class="inputError invalid">{{pwdMatchError}}</span>
                </div>
               
            </div>

            <div class="form-group"> 
                <div class="input-wrapper-right">
                <i class="fa fa-file"></i>
                    <a href="#" data-toggle="modal" 
                       data-target="#termsNconditionModal">Terms and conditions</a> 
                    | 
                    <a href="#" data-toggle="modal" 
                       data-target="#privacyPolicyModal">Privacy policy</a>

            </div>
            <!-- Privacy Policy Modal -->
            <div class="modal fade" id="privacyPolicyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                          <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="termsNconditionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                          <h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>



            <div class="form-group"> 
              <div class="input-wrapper-right">
                    <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> I read and accept terms and conditions.
          </label>
        </div>
              </div>
            </div>

            <div class="form-group"> 
              <div class="input-wrapper-right">
                <button class="btn-user-registration" ng-disabled="URForm.$invalid" ng-click="register(newUser)">Submit</button>
              </div>
            </div>

            <div class="form-group"> 
        <div class="input-wrapper-right">
           <p> If you are already registered
            <span><a href="/login" class="btn btn-secondary">Login</a></span></p>
        </div>
        <p class="error">
            {{errorMessage}}
        </p>
    </div>
        </form>
        <!--
        <div ng-include src="'auth/register/userRegistrationForm.html'"></div>
        -->
        
    </div>
</section>

