<style>
    .inputError{
        color:red;
    }
    form .ng-invalid.ng-dirty{ 
        background-color: lightpink; 
    }
    form .ng-valid.ng-dirty { 
        background-color: lightgreen; 
    }
    div.error {
        color: red; 
    }
    
    .usedEmail{
        background-color: lightpink !important;
    }
    .matchError{
        background-color: lightpink !important;
    }
        
   
</style>


<navigation></navigation>

<h1>Registration</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-1">
            <div class="jumbotron">
                <form class="form-horizontal" name="URForm" role="form" novalidate>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="firstName">Firstname:</label>
                        <div class="col-sm-9">
                            <input name="newUserFN" type="text" class="form-control" id="firstName" placeholder="Enter firstname"  ng-model="newUser.firstName" ng-minlength=2 ng-maxlength="15" required>
                            <!--
                            <div class="error" ng-show="URForm.newUserFN.$invalid && URForm.newUserFN.$dirty">
                                <span ng-show="URForm.newUserFN.$error.minlength">
                                    Please enter atleast 2 character.
                                </span>
                                <span ng-show="URForm.newUserFN.$error.maxlength">
                                    Firstname must not be more than 15 character long.
                                </span>
                                <span ng-show="URForm.newUserFN.$error.required">
                                    Please enter a value
                                </span>
                            </div>
                            -->
                        </div>
                        <div class="col-sm-1" ng-show="URForm.newUserFN.$invalid && URForm.newUserFN.$dirty">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                        <div class="col-sm-1" ng-show="URForm.newUserFN.$valid && URForm.newUserFN.$dirty">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lastName">Lastname:</label>
                        <div class="col-sm-9">
                            <input name="newUserLN" type="text" class="form-control" id="lastName" placeholder="Enter lastname" ng-model="newUser.lastName" ng-minlength="2" ng="maxlength=15" required="true">
                            <!--
                            <div class="error" ng-show="URForm.newUserLN.$invalid && URForm.newUserLN.$dirty">
                                <span ng-show="URForm.newUserLN.$error.minlength">
                                    Last name must be at least 2 character long.
                                </span>
                                <span ng-show="URForm.newUserLN.$error.maxlength">
                                    Lastname must not be more than 15 character long.
                                </span>
                                <span ng-show="URForm.newUserLN.$error.required">
                                    Please enter a value
                                </span>
                            </div>
                            -->  
                        </div>
                        <div class="col-sm-1" ng-show="URForm.newUserLN.$invalid && URForm.newUserLN.$dirty">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                        <div class="col-sm-1" ng-show="URForm.newUserLN.$valid && URForm.newUserLN.$dirty">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-9">
                          <input ng-class="{usedEmail : emailError}" name="newUserEmail" type="email" class="form-control" id="email" placeholder="Enter email"  ng-model="newUser.email" ng-blur='validateEmail(newUser)' ng-focus='hideError()'>
                          <span class='inputError invalid'>{{emailError}}</span>
                        </div>
                        <div class="col-sm-1" ng-show="URForm.newUserEmail.$invalid && URForm.newUserEmail.$dirty || emailError">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                        <div class="col-sm-1" ng-show="URForm.newUserEmail.$valid && URForm.newUserEmail.$dirty && !emailError">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Password:</label>
                        <div class="col-sm-9"> 
                          <input name="newUserPwd" type="password" class="form-control" id="pwd" placeholder="Enter password (Min 5 char)"  ng-model="newUser.password" ng-minlength="5" required>
                        </div>
                        <div class="col-sm-1" ng-show="URForm.newUserPwd.$invalid && URForm.newUserPwd.$dirty">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                        <div class="col-sm-1" ng-show="URForm.newUserPwd.$valid && URForm.newUserPwd.$dirty">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd1">Confirm password:</label>
                        <div class="col-sm-9"> 
                          <input ng-class="{matchError: pwdMatchError}" name="newUserPwd1" type="password" class="form-control" id="pwd1" placeholder="ConfirmPassword" ng-model="newUser.password1" ng-minlength="5" ng-blur="checkTwoPwd()" ng-focus="removePwdMatchError()" required>
                          <span class="inputError invalid">{{pwdMatchError}}</span>
                        </div>
                        <div class="col-sm-1" ng-show="URForm.newUserPwd1.$invalid && URForm.newUserPwd1.$dirty || pwdMatchError">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                        <div class="col-sm-1" ng-show="URForm.newUserPwd1.$valid && URForm.newUserPwd1.$dirty && !pwdMatchError">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                    </div>
                    
                    <div class="form-group"> 
                      <div class="col-sm-offset-2 col-sm-10">
                          <a href="/tNC">Please read terms and conditions</a>
                      </div>
                    </div>
                    
                    <div class="form-group"> 
                      <div class="col-sm-offset-2 col-sm-10">
                          <a href="/privacyPolicy">Our privacy policy</a>
                      </div>
                    </div>
                    
                    <div class="form-group"> 
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                          <label><input type="checkbox" ng-model="newUser.tandc" required="true"> I have read terms and conditions and accept them</label>
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group"> 
                      <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default" ng-disabled="URForm.$invalid" ng-click="register(newUser)">Register</button>
                      </div>
                    </div>
                </form>
                <span>If you are already registered </span>
                <span><a href="/login"><button class="btn btn-default">Login</button></a></span>
                <h4>
                    {{errorMessage}}
                </h4>
            </div>
            
        </div>
    </div>
</div>
