

<navigation></navigation>

<div class="hero-search">
    <div class="search-box-small">
        <search-room></search-room>
    </div> <!--End of search-box -->
</div>


<div class="container" ng-hide="hideRoomDetailsSection">
    <div class="col-sm-8 jumbotron">
        <div class="thumbnail">
            <div id="photos" ng-repeat="img in ORD.images">
                <img ng-src="https://s3-ap-southeast-2.amazonaws.com/nrm/{{img}}" alt="Room Image">
            </div>
        </div>
        <h3>{{ORD.unit}} / {{ORD.street_no}}, {{ORD.street}}, {{ORD.suburb}}, {{ORD.postcode}}</h3>
        <h4>Rent: {{ORD.rent}}  {{ORD.frequency}}</h4>
        <h4>Bond: {{ORD.bond}}</h4>
        <h5>Preferred Gender : {{ORD.gender}}</h5>
        <h5>No required: {{ORD.required_no}}</h5>
        <h5>Available from: {{ORD.available_from}}</h5>
        <h5>Contact: {{ORD.contact_no}}</h5>
        <h5>{{ORD.message}}</h5>
    </div>
</div>

<div class="card-group">
    <div class="card" ng-repeat="room in searchedRoom">
        <div ng-if="room.images.length > 0">
            <a href="/roomDetail/{{room._id}}">
                <img class="card-img-top img-thumbnail" src="https://s3-ap-southeast-2.amazonaws.com/nrm/{{room.images[0]}}" alt="">
            </a>
        </div>
        <div ng-if="room.images.length < 1">
            <img class="card-img-top img-thumbnail" src="images/nrmLogo.png" alt="Room Image">
        </div>
        <a href="/roomDetail/{{room._id}}" class="roomRent" class="btn btn-primary">{{room.rent}} / w</a>
        <h2><a href="/roomDetail/{{room._id}}">{{room.suburb}}</a></h2>
        {{room.unit}} / {{room.street_no}}, {{room.street}}, {{room.suburb}}, {{room.postcode}}
        <span class="badge pull-right">{{room.rent}}</span>
    </div>
</div>

<footer-generic></footer-generic>