
<nav class="nrm-top-navbar">
    <a class="navbar-brand" href="/"><img class="logo" src="admin/images/test.png"></a>
    <button class="top-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#exCollapsingNavbar" 
            aria-controls="exCollapsingNavbar" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span class="bar"></span>
    </button>
    
    <div class="collapsable-menu" id="exCollapsingNavbar">
        <ul class="nav">
            <li><a href="/admin/dashboard">Home</a></li>
            <li ng-if="isLoggedIn"><a href="/admin/dashboard">Dashboard</a></li>
            <li ng-if="isLoggedIn" ng-click="logout()"><a class="btn btn-lg btn-outline-danger" href="/#">Log Out</a></li>
        </ul>
    </div>
</nav>