<navigation></navigation>

<section id="createRoom">
    
    <h3 >Rent your room</h3>
    <p class="text-xs-center">Please fill the following details to post your room ad</p>


    <div class="page-wrapper">
        <div class="page-container">
        
        <form name='nrForm' class="form-horizontal" enctype="multipart/form-data" novalidate>
            
             <!-- Unit Number-->
            <div class="form-group" ng-class="{'has-danger':nrForm.unit.$invalid && nrForm.streetNo.$dirty,
                                                'has-success':nrForm.unit.$valid && nrForm.unit.$dirty}">
                <label for="unit" class="label-control">Unit</label>
                <div class="input-wrapper-medium">
                    <input name='unit'  
                          class="form-control" 
                          id="unit" 
                          ng-class="{'form-control-danger':nrForm.unit.$invalid && nrForm.unit.$dirty,
                                    'form-control-success':nrForm.unit.$valid}" 
                          ng-minlength='1'
                          ng-maxlength='2' 
                          ng-model="room.unit"  
                          placeholder="Unit" 
                          type="number">
                    <!-- error-block -->
                    <div class="error-block" ng-show="nrForm.unit.$invalid && nrForm.unit.$dirty">
                        <p ng-show="nrForm.unit.$error.maxlength"> Unit number must be below 99</p>
                    </div>
                    <!-- End of error-block -->
                </div>
                <!-- End of input-wrapper -->
            </div>
            <!-- End of form-group -->

           
           <!-- Street Number -->
            <div class="form-group" ng-class="{'has-danger':nrForm.streetNo.$invalid && nrForm.streetNo.$dirty,
                                                'has-success':nrForm.streetNo.$valid && nrForm.streetNo.$dirty}">
                <label for="streetNo" class="label-control">Street No</label>
                <div class="input-wrapper-medium">
                    <input name='streetNo' 
                    type="number" 
                    class="form-control" 
                    id="streetNo" 
                    placeholder="Street No"
                    ng-minlength='1' 
                    ng-maxlength='3' 
                    ng-model="room.street_no"
                    ng-class="{'form-control-danger':nrForm.streetNo.$invalid && nrForm.streetNo.$dirty,
                                'form-control-success':nrForm.streetNo.$valid}">
                <!-- error-block -->
                <div class="error-block" ng-show="nrForm.streetNo.$invalid && nrForm.streetNo.$dirty">
                    <!--<p ng-show="nrForm.streetNo.$error.required">Street number is required.</p>-->
                    <p ng-show="nrForm.streetNo.$error.maxlength">Street number must be below 999.</p>
                </div>
                <!-- End of error-block -->
                </div>
                <!-- End of input-wrapper -->
            </div>
            <!-- End of form-group -->
            

            <!-- Street Name -->
            <div class="form-group" ng-class="{'has-danger':nrForm.streetName.$invalid && nrForm.streetName.$dirty,
                                                'has-success':nrForm.streetName.$valid && nrForm.streetName.$dirty}">
              <label for="streetName" class="label-control">Street Name</label>
              <div class="input-wrapper-medium">
                <input type="text" 
                class="form-control" 
                name="streetName" 
                id="streetName" 
                placeholder="Street Name"
                ng-maxlength ='50'
                ng-model="room.street_name" 
                ng-class="{'form-control-danger':nrForm.streetName.$invalid && nrForm.streetName.$dirty,
                            'form-control-success':nrForm.streetName.$valid}">
                <!-- error-block -->
                <div class="error-block" ng-show="nrForm.streetName.$invalid && nrForm.streetName.$dirty">
                    <p ng-show="nrForm.streetName.$error.maxlength">Street name  must be less than 50 character long.</p>
                    <!--<p ng-show="nrForm.streetName.$error.required">Street name is required.</p>-->
                </div>
                <!-- End of error-block -->
              </div>
              <!-- End of input-wrapper -->
            </div>
            <!-- End of form-group -->
            

            <!-- Suburb -->
            <div class="form-group" ng-class="{'has-danger':nrForm.suburb.$invalid && nrForm.suburb.$dirty,
                                                'has-success':nrForm.suburb.$valid && nrForm.suburb.$dirty}">
              <label for="suburb" class="label-control">Suburb<span id="required">*</span></label>
              <div class="input-wrapper-medium">
                <input type="text" 
                class="form-control" 
                id="suburb" 
                placeholder="Suburb" 
                ng-model="room.suburb" 
                ng-change="getValue()" 
                name="suburb" 
                required 
                ng-class="{'form-control-danger':nrForm.suburb.$invalid && nrForm.suburb.$dirty,
                            'form-control-success':nrForm.suburb.$valid}">
                <ul class="suggestions-list">
                    <!-- error-block -->
                    <li class="error-block" ng-show="nrForm.suburb.$invalid && nrForm.suburb.$dirty">
                        <p ng-show="nrForm.suburb.$error.required">Please choose one of the suburb from below</p>
                    </li>
                    <!-- End of error-block -->
                    <li ng-repeat="su in returnedSub | filter: room.suburb:strict | limitTo:7" 
                        ng-class="{active : selectedIndex === $index}" 
                        ng-click="AssignValueAndHide(su)">{{su[0]}},   {{su[1]}}  {{su[2]}}
                    </li>
                </ul>
              </div>
            </div>
            

            <!-- Post Code -->
            <div class="form-group" 
                ng-class="{'has-danger':nrForm.postCode.$invalid && nrForm.postCode.$dirty,
                            'has-success':nrForm.postCode.$valid && nrForm.postCode.$dirty }">
                <label for="postCode" class="label-control">Postcode<span id="required">*</span></label>
                <div class="input-wrapper-medium">
                <input type="text" 
                class="form-control" 
                id="postCode" 
                placeholder="Postcode" 
                ng-model="room.postcode" 
                name="postCode" 
                ng-minlength='4'
                ng-maxlength='4'
                required 
                ng-class="{'form-control-danger':nrForm.postCode.$invalid && nrForm.postCode.$dirty,
                        'form-control-success':nrForm.postCode.$valid}">
               
                <!-- error-block -->
                <div class="error-block" ng-show="nrForm.postCode.$invalid && nrForm.postCode.$dirty">
                    <p ng-show="nrForm.PostCode.$error.required">Post code is required.</p>
                    <p ng-show="nrForm.PostCode.$error.minlength || nrForm.PostCode.$error.maxlength">Post code must be 4 digits.</p>
                </div>
                <!-- End of error-block -->
              </div>
              <!-- End of input-wrapper -->
            </div>
            <!-- End of form-group -->
            
            <!-- State -->
            <div class="form-group" ng-class="{'has-danger':nrForm.state.$invalid && nrForm.state.$dirty,
                                                'has-success':nrForm.state.$valid && nrForm.postCode.$dirty}">
              <label for="state" class="label-control">State<span id="required">*</span></label>
              <div class="input-wrapper-medium">
                <input type="text" 
                class="form-control" 
                id="state" 
                placeholder="State" 
                ng-model="room.state" 
                required 
                name="state" 
                ng-class="{'form-control-danger':nrForm.state.$invalid && nrForm.state.$dirty,'form-control-success':nrForm.state.$valid}">
              </div>
            </div>
            
            <!-- Available Date -->
            <div class="form-group" ng-class="{'has-danger':nrForm.availableFrom.$invalid && nrForm.availableFrom.$dirty,'has-success':nrForm.availableFrom.$valid && nrForm.availableFrom.$dirty}">
                <label for="available" class="label-control">Available From<span id="required">*</span></label>
                <div class="input-wrapper-medium">
                    <input name='availableFrom'
                        
                        class="form-control" 
                        id="available" 
                        placeholder="Available From" 
                        ng-model="room.available_from" 
                        required
                    ng-class="{'form-control-danger':nrForm.availableFrom.$invalid && nrForm.availableFrom.$dirty,
                                'form-control-success':nrForm.availableFrom.$valid}">
                <div class="error-block" ng-show="nrForm.availableFrom.$invalid && nrForm.availableFrom.$dirty">
                    <p ng-show="nrForm.availableFrom.$error.required">
                        Please enter available date
                    </p>
                </div>
                </div>
            </div>
        
            
            <!-- Contact No -->
            <div class="form-group" ng-class="{'has-danger':nrForm.contactNo.$invalid && nrForm.contactNo.$dirty,'has-success':nrForm.contactNo.$valid && nrForm.contactNo.$dirty}">
                <label for="contact" class="label-control">Contact No<span id="required">*</span></label>
                <div class="input-wrapper-medium">
                    <input name='contactNo' 
                    type="number"
                    class="form-control" 
                    id="contact" 
                    placeholder="Contact No" 
                    ng-model="room.contact_no" 
                    ng-minlength='10' 
                    ng-maxlength='10' 
                    required 
                    ng-class="{'form-control-danger':nrForm.contactNo.$invalid && nrForm.contactNo.$dirty,'form-control-success':nrForm.contactNo.$valid}">
                <div class="error-block" ng-show="nrForm.contactNo.$invalid && nrForm.contactNo.$dirty">
                 <p ng-show="nrForm.contactNo.$error.required">
                        Please enter Contact No (Telephone or Mobile no)
                   </p>
                  <p ng-show="nrForm.contactNo.$error.minlength">
                        Contact number must be at least 10 digit long.
                   </p>
                  <p ng-show="nrForm.contactNo.$error.maxlength">
                        Contact number must not be more than 10 digit long.
                   </p>
                </div>
                </div>
            </div>

            

            <!-- Rent -->
            <div class="form-group" ng-class="{'has-danger':nrForm.rent.$invalid && nrForm.rent.$dirty,'has-success':nrForm.rent.$valid&& nrForm.rent.$dirty}">
                <label for="rent" class="label-control">Weekly Rent $<span id="required">*</span></label>
                    <div class="input-wrapper-medium">
                        <input name='rent' 
                        type="number" 
                        class="form-control" 
                        id="rents" 
                        placeholder="Weekly Rent" 
                        ng-model="room.rent" 
                        ng-maxlength='4' 
                        required
                        ng-class="{'form-control-danger':nrForm.rent.$invalid && nrForm.rent.$dirty,'form-control-success':nrForm.rent.$valid}">

                        <!-- error-block -->
                        <div class="error-block" ng-show="nrForm.rent.$invalid && nrForm.rent.$dirty" >
                            <p ng-show="nrForm.rent.$error.maxlength">It looks unusual weekly rent</p>
                            <p ng-show="nrForm.rent.$error.required">Please enter weekly rent amount.</p>
                        </div>
                    <!-- End of error-block -->
                    </div>
                    <!-- End of input-wrapper -->
            </div>
            <!-- End of form-group -->
            

            <!-- Bond -->
            <div class="form-group" ng-class="{'has-danger':nrForm.bond.$invalid && nrForm.bond.$dirty,
                                                'has-success':nrForm.bond.$valid && nrForm.bond.$dirty}">
              <label for="bond" class="label-control">Bond</label>
                <div class="input-wrapper-medium">
                    <input type="number" 
                    class="form-control" 
                    id="bond" 
                    name="bond"
                    placeholder="Bond" 
                    ng-model="room.bond"
                    ng-minlength="3"
                    ng-maxlength="4"
                    ng-class="{'form-control-danger':nrForm.bond.$invalid && nrForm.bond.$dirty,
                                'form-control-success':nrForm.bond.$valid && nrForm.bond.$dirty}">

                    <!-- error-block -->
                    <div class="error-block" ng-show="nrForm.bond.$invalid && nrForm.bond.$dirty" >
                        <p ng-show="nrForm.bond.$invalid">Please enter valid amount.</p>
                    </div>
                    <!-- End of error-block -->
                </div>
                <!-- End of input-wrapper -->
            </div>
            <!-- End of form-group -->
            
            <!-- Bills -->
            <div class="form-group has-success">
                <div class="form-group">
                    <label for="gender" class="label-control">Utility Bills</label>
                    <div class="input-wrapper-medium">
                        <select class="form-control form-control-success" ng-model="room.bills"
                                ng-options="option for option in availableOptions.availableBillsOption">
                        </select> 
                    </div>
                </div>
            </div>
            
            <!-- Gender -->
            <div class="form-group has-success">
                <label for="gender" class="label-control">Preferred</label>
                <div class="input-wrapper-medium">
                    <select class="form-control form-control-success" ng-model="room.gender"
                            ng-options="option for option in availableOptions.availableGenderOption">
                    </select>
                </div>
            </div>
           
            <!-- End of form-group -->
            
            <!-- Furnishing Condition -->
            <div class="form-group has-success">
                <label for="furnishingCondition" class="label-control">Furnishing</label>
                <div class="input-wrapper-medium">
                    <select class="form-control form-control-success" ng-model="room.furnishing"
                            ng-options="option for option in availableOptions.availableFurnishingOption">
                    </select>
                </div>
            </div>
            
            <!-- Parking -->
            <div class="form-group has-success">
                <label for="parking" class="label-control">Parking</label>
                <div class="input-wrapper-medium">
                    <select class="form-control form-control-success" ng-model="room.parking"
                            ng-options="option for option in availableOptions.availableParkingOption">
                    </select>  
                </div>
            </div>
            
            <!-- Property type -->
            <div class="form-group has-success">
                <label for="propertyType" class="label-control">Property Type</label>
                <div class="input-wrapper-medium">
                    <select class="form-control form-control-success" ng-model="room.propertyType"
                            ng-options="option for option in availableOptions.availablePropertyOption">
                    </select> 
                </div>
            </div>
            
            <!-- Total Bedrooms -->
            <div class="form-group has-success">
                <label for="propertyType" class="label-control">Total Bedrooms</label>
                <div class="input-wrapper-medium">
                    <select class="form-control form-control-success" ng-model="room.totalBedRooms"
                            ng-options="option for option in availableOptions.availableBROptions">
                    </select>  
                </div>
            </div>
            
            <!-- Total Bathrooms -->
            <div class="form-group has-success">
                <label for="propertyType" class="label-control">Total Bathrooms</label>
                <div class="input-wrapper-medium">
                    <select class="form-control form-control-success" ng-model="room.totalBathrooms"
                            ng-options="option for option in availableOptions.availableBathroomOption">
                    </select>  
                </div>
            </div>

            <!-- Message -->
            <div class="form-group">
                <label for="message" class="label-control">Message</label>
                <div class="input-wrapper">
                    <textarea name='message'
                              rows="5"
                              type="text" 
                              class="form-control" 
                              id="message" 
                              placeholder="Your Message" 
                              ng-model="room.message" 
                              ng-maxlength='300'>
                    </textarea>
                <div class="error" ng-show="nrForm.message.$invalid && nrForm.message.$dirty">
                    <span ng-show="nrForm.message.$error.maxlength">
                        Your message is more than 300 character long. Please make it short.
                    </span>
                </div>
                </div>
            </div>
            
            <div class="form-group">
              <div class="input-wrapper-right">
                  <button ng-disabled='nrForm.$invalid || compressing' type="submit" ng-click="update(room)" class="btn-general">Submit</button>
                  <button ng-click="goHome()" class="btn-cancel">Cancel</button>
              </div>
            </div>
            
        </form>

        <!-- Feedback Modal -->
            <feedback is-action-completed="{{isEdited}}" feedback-message="{{feedbackMessage}}"></feedback>
        </div>
    </div>
</section>