
.btn-sign-up{
	
	@extend %button;
	@include button-variant(getColor('burnt-sienna'), getColor('white'),getColor('burnt-sienna'));
	font-family:$font-moteserrat;

	&:hover{

		@include button-variant(getColor('white'), getColor('burnt-sienna'),getColor('burnt-sienna'));
		
		}
	
	&:focus{
		
		@include button-variant(getColor('white'), getColor('burnt-sienna-dark'),getColor('burnt-sienna-dark'));
		outline:0px transparent ;

	}



	@include media-breakpoint-down(sm){
		
		@include button-variant(getColor('burnt-sienna'), getColor('bluewood-dark'),getColor('burnt-sienna'));
	
	}

}

.btn-send-message{
	@extend %button;
	@include button-variant(getColor('white'), getColor('emrald'),getColor('emrald'));
	font-family:$font-moteserrat;
	height:50px;
        
}
.btn-send-message[disabled]{
        @extend .btn-send-message;
        opacity: .7;
        
}



.btn-search{
	
	@extend %button;
	@include button-variant(getColor('white'), getColor('burnt-sienna'),getColor('burnt-sienna'));
	font-family:$font-moteserrat;
	height:50px;
}

