
.btn-sign-up{
	
	@extend %button;
	@include button-variant(getColor('burnt-sienna'), getColor('white'),getColor('burnt-sienna'));
	font-family:$font-moteserrat;

	&:hover{

		@include button-variant(getColor('white'), getColor('burnt-sienna'),getColor('burnt-sienna'));
		
		}
	
	&:focus{
		
		@include button-variant(getColor('white'), getColor('burnt-sienna-dark'),getColor('burnt-sienna-dark'));
		outline:0px transparent ;

	}



	@include media-breakpoint-down(sm){
		
		@include button-variant(getColor('burnt-sienna'), getColor('bluewood-dark'),getColor('burnt-sienna'));
	
	}

}

.btn-send-message{
	@extend %button;
	@include button-variant(getColor('white'), getColor('emrald'),getColor('emrald'));
	font-family:$font-moteserrat;
	height:50px;
        
}
.btn-send-message[disabled]{
        @extend .btn-send-message;
        opacity: .7;
        
}



.btn-search{
	
	@extend %button;
	@include button-variant(getColor('white'), getColor('burnt-sienna'),getColor('burnt-sienna'));
	font-family:$font-moteserrat;
	height:50px;
}

.btn-view-all{

	@extend %button;
	@include button-variant(getColor('white'), getColor('emrald'),getColor('emrald'));
	font-family:$font-moteserrat;
	display:block;
	margin:auto;
	height:50px;
	width:180px;
	border-radius:0px;
	line-height:50px;
	padding:0px;
}

.btn-rent-call{

@extend %button;
	@include button-variant(getColor('white'), #76c4f6,#76c4f6);
	font-family:$font-moteserrat;
	display:block;
	margin:auto;
	height:50px;
	width:180px;
	border-radius:0px;
	line-height:50px;
	padding:0px;
}

.btn-view-details{
@extend %button;
	@include button-variant(getColor('burnt-sienna-dark'), getColor('white'),getColor('burnt-sienna-dark'));
	font-family:$font-moteserrat;
	border-radius:0px;
	height:50px;
	margin-left:20px;
	font-size:16px;
	line-height:50px;
	padding:0px;
	width:180px;
}