/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/09/2016, 2:57:25 PM
    Author     : Rajesh Basnet
*/

.hero{
  @include make-row();
    //height:50vh;
    background-image:url('../images/hero.jpg');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
    
    @include media-breakpoint-up(xs){
        height: 26vh;
        padding:0px 10px;
        h1{
            display: none;
        }
    }
     @include media-breakpoint-up(md){
        height: 25vh;
        h1{
            padding-top: 90px;
            font-family:$font-moteserrat;
            text-shadow:4px 4px 4px black;
            color:getColor('white');
            text-align:center;
            display:block;
            font-size: 20pt;
         }
    }
     @include media-breakpoint-up(lg){
        height: 55vh;
        h1{
            padding-top: 100px;
            font-size: 35pt;
        }
    }
} //end of hero

.search-box{
    @include make-col-ready();
    @include make-col(12);
    text-align:center;
    background: rgba(51, 51, 51, 0.4);
    
    //For mobile
    @include media-breakpoint-up(xs){		
          @include make-col(11);
          @include make-col-offset(.5);
          margin-top: 80px;
          max-height: 80px;
      }

    //For tablet and up
     @include media-breakpoint-up(md){    
        @include make-col(9);
        @include make-col-offset(1.5);
        border:1px gray solid;
        margin-top:0px;
        min-height:100px;
        padding-top:25px;
     }
     
     //For desktop
    @include media-breakpoint-up(lg){
       @include make-col(6);
       @include make-col-offset(3);
       margin-top: 20px;
       padding-top: 45px;
       min-height: 150px;
    }

}
// Hero image when search is performed -- by Prakash
.hero-search{
    @include make-row();
    //height:50vh;
    background-image:url('../images/hero.jpg');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
    
    @include media-breakpoint-up(xs){
        height: 23vh;
        padding:0px 10px;
        h1{
            display: none;
        }
    }
     @include media-breakpoint-up(md){
        height: 15vh;
        h1{
            padding-top: 90px;
            font-family:$font-moteserrat;
            text-shadow:4px 4px 4px black;
            color:getColor('white');
            text-align:center;
            display:block;
            font-size: 20pt;
         }
    }
     @include media-breakpoint-up(lg){
        height: 22vh;
        h1{
            padding-top: 100px;
            font-size: 35pt;
        }
    } 
} //end of heroSearch



// for small search box which appears when search is done -- by Prakash
.search-box-small{
    @include make-col-ready();
    @include make-col(12);
    text-align:center;
    
    
  
  //only tablet
    @include media-breakpoint-up(xs){		
        @include make-col(11);
        @include make-col-offset(.5);
        margin-top:80px;
      }

    //desktop and up
     @include media-breakpoint-up(md){    
        @include make-col(9);
        @include make-col-offset(1.5);
        max-height:60px;
        padding-top: 10px;
       
    }
    @include media-breakpoint-up(lg){
        @include make-col(6);
        @include make-col-offset(3);
        min-height: 90px;
        padding-top: 20px;
        margin-top: 82px;
        
    }
}
