<navigation></navigation>
<section>
    <h3>Password Reset</h3>
    <p class="text-xs-center">Please enter your email address in the box below.</p>
    <div class="page-wrapper">
        <div class="page-container">
            <form id="password-reset-form" name="passwordResetForm">
                <div class="form-group" ng-class="{'has-danger':passwordResetForm.$invalid && passwordResetForm.passwordReset.$dirty,
                                        'has-success':passwordResetForm.passwordReset.$valid && passwordResetForm.passwordReset.$dirty}">
                    <input type="email" 
                        ng-model="forget.email" 
                        name="passwordReset"
                        required
                        ng-class="{'form-control-danger':passwordResetForm.passwordReset.$invalid && passwordResetForm.passwordReset.$dirty,
                                 'form-control-success':passwordResetForm.passwordReset.$valid}">
                    <button class="btn-general" ng-click="forgetPassword(forget)" data-toggle="modal" data-target="#forgetPasswordRequestModal" ng-disabled="passwordResetForm.$invalid">
                        Submit
                    </button>
                </div>
                <!-- error-block -->
                <div class="error-block forgetPassword-error-block" ng-show="passwordResetForm.passwordReset.$invalid && passwordResetForm.passwordReset.$dirty">
                    <p ng-show="passwordResetForm.passwordReset.$error.required" ng-hide="passwordResetForm.passwordReset.$invalid">
                        Please enter your email address.
                    </p>
                    <p ng-show="passwordResetForm.passwordReset.$invalid" ng-hide="passwordResetForm.passwordReset.$error.required">
                        Please enter valid email.
                    </p>
                </div>
                <!-- End of error-block -->
            </form>
        </div>
    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="forgetPasswordRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Password reset request</h3>
          </div>
          <div class="modal-body">
                <p>
                    If you are registered with us, we have sent an email to your email address with password reset link
                    Just click the link or copy it and paste into your url and follow the instructions.
                </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="forgetPasswordFeedbackCloseBtn()">Close</button>
          </div>
        </div>
      </div>
    </div>
</section>