
#createRoom{
    margin-top:90px;
    margin-bottom:50px;
    p{
        text-align:center;
    }
}

.createRoom-container{
    background-color:#FFF;
    width:80%;
    margin:0% 10%;
    padding:40px;
    box-shadow:0px 10px 40px rgba(0,0,0,0.8);

    @include media-breakpoint-up(md){
        width:96%;
        margin:0% 2%;
    }

    @include media-breakpoint-up(lg){
        width:60%;
        margin:0% 20%;
    }
    
     @include media-breakpoint-down(sm){
        width:96%;
        margin:0% 2%;
    }
	}

        //Create room validation Error
#createRoom{
    #required{
        color: red;
        font-size: 8pt;
    }
    .suggestions-list {
        z-index: 1000;
	position: absolute;
	list-style-type: none;
	padding: 0;
	overflow: auto;
    }
    .suggestions-list li {
        margin-left: 0px;
	color: #000000;
	padding: 10px 10px;
	line-height:17px;
	cursor: pointer;
	background: #f9f9f9;
	border-bottom: 1px solid #eeeeee;
	width:250px;
    }
    .suggestions-list li:hover {
            background: #eed5f2;
    }
    .suggestions-list li:active,
    .suggestions-list li.active {
            color: #FFFFFF;
            background: #0099FF;
            width:250px;
    }
    .suggestions-list:focus{
            outline:none;
    }
    .inputError{
            color:red;
    }
    form .ng-invalid.ng-dirty{ 
        background-color: lightpink; 
    }
    form .ng-valid.ng-dirty { 
        background-color: lightgreen; 
    }
    div.error {
        color: red;
        margin-left: 0px;
    }
    
    .usedEmail{
        background-color: lightpink !important;
    }
    .matchError{
        background-color: lightpink !important;
    }
    form .progress {
        line-height: 15px;
    }

    #removeImage{
        height: 15px;
    }
    label{
        font-weight: bold;
    }
        }
        
    // End create room validation Error