.uploaded-image-thumbnail{

    height:100px;
    width:100px;
    border:2px solid grey;
    position:realtive;
}


.uploaded-images{

    margin:0;
    padding:0;

    li{

        list-style-type:none;
    }
}

/*image upload progress*/
.fa-spinner{
    
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;

}
/** @type {image upload spin **/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/** Adress auto fill */
.suggestions-list{

    list-style-type: none;
    padding:0;

    li{

        text-align:left;
    }
}