/*
* @Author: Rajesh Basnet
* @Date:   2016-10-01 12:38:14
* @Last Modified by:   Rajesh Basnet
* @Last Modified time: 2016-10-01 14:14:10
*/
.forgetPassword-error-block{
    @include make-col-offset(1);
    
}
