.hero{

  @include make-row();
    height:45vh;
    background-image:url('../images/hero.jpg');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
    padding:0px 10px;
    margin:0;

  h1{
    display:none;
  }

  @include media-breakpoint-up(md){
    padding:50px 10px;
    h1{
       font-family:$font-moteserrat;
       text-shadow:4px 4px 4px black;
       color:getColor('white');
       text-align:center;
       display:block;
    }
  } 
} //end of hero
// Hero image when search is performed -- by Prakash
.hero-search{
    height:10vh;
    background-image:url('../images/hero.jpg');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
    padding:20px 10px;

  @include media-breakpoint-up(md){
    padding:50px 10px;
    h1{
       font-family:$font-moteserrat;
       font-weight:400;
       text-shadow:4px 4px 4px black;
       color:getColor('white');
       text-align:center;
       display:block;
    }
  } 
} //end of hero


.search-box{
    @include make-col-ready();
    @include make-col(12);
    text-align:center;
    border:1px gray solid;
    background: rgba(51, 51, 51, 0.4);

    min-height:120px;
    padding-top:30px;
  
  //only tablet
  @include media-breakpoint-only(md){		
      @include make-col(10);
      @include make-col-offset(1);

    }



//desktop and up
 @include media-breakpoint-up(lg){    
      @include make-col(6);
      @include make-col-offset(3);}

}


.action-call{

  @include make-row();
  border:1px red solid;
  position:relative;
}
// for small search box which appears when search is done -- by Prakash
// 
 .search-container{
    
    @include make-row();
  }
.search-box-small{
    @include make-col-ready();
    @include make-col(12);
    text-align:center;
    background:getColor('mercury');
    

  
  //only tablet
  @include media-breakpoint-only(md){		
      @include make-col(10);
      @include make-col-offset(1);

    }

//desktop and up
 @include media-breakpoint-up(lg){    
      @include make-col(6);
      @include make-col-offset(3);}

}



// recent rooms

.recent-rooms{
  @include make-row();
  margin:0px;
  padding:1% 2%;
  .room{
    @extend .card;
    // border:1px green solid;
    float:left;
    width:96%;
    margin:1% 2%;
   
    box-shadow:5px 5px 10px  rgba(0,0,0,0.5);
    position:relative;
    border:1px solid grey;
  
    @include media-breakpoint-up(md){

      width:40%;
      margin:3% 5%;
    }

    @include media-breakpoint-up(lg){

      
      width:23.33%;
       margin:8% 2.5%;
    }

    @include media-breakpoint-up(xl){

      
      width:20%;
      margin:2.5% 2.5%;
    }

  } //end of recent room
  



} //end of recent-rooms

.room{

  .card-img-top{

    width:100%;
    height:200px;
    border-radius:0px;
    @include media-breakpoint-up(lg){

      height:150px;

    }
  }

  .address{
    
    
    display:block;
    padding:20px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:$text-color-body;
    font-size:20px;
    font-weight:600;
    
  }

  .rent{

    position:absolute;
    height:40px;
    background-color: rgba(0,0,0,.5);
    top:160px;
    right:0;
    line-height:40px;
    width:70px;
    text-align:center;
    color:#FFF;

    @include media-breakpoint-up(lg){

      top:110px;
    }
  }

  .label{
  width:0;
  height:0;
  border-top:35px getColor('burnt-sienna-dark') solid;
  border-left:35px getColor('burnt-sienna-dark') solid;
  border-right:35px transparent solid;
  border-bottom:35px transparent solid;
  color:#FFF;
  position:absolute;
  top:0;
  left:0;
span{
  position:relative;
  display:block;
  top:-12px;
  left:-25px;
  transform:rotate(-45deg);

}
}


}

.features{

  @include make-row();
 
  padding:50px;




}
.feature-container{

  
  
  height:200px;
  width:200px;
  position:relative;
  margin:auto;
  perspective:1200px;
  transform-style: preserve-3d;

}
  .feature{

    @extend .card;
    width:250px;
    height:250px;
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    color:#FFF;
    box-shadow:0px 20px 50px  rgba(0,0,0,0.4);
  
    padding:20px;
    text-align:center;
    h5{

      padding-top: 10px;
      padding-bottom:20px;
      position:relative;
    }
    h5:after{

      content:"";
      position:absolute;
      border-bottom:1px solid #FFF;
      display:inline-block;
      
      margin:auto;
      margin-top:32px;
      width:60%;
      left:20%;
      ;

    }
  }

  .feature:nth-child(1){
    background-color: getColor('bluewood');
    transform:translateX(-280px) translateZ(-220px);
    ttransform-origin:0% 0%;
    
  }
  .feature:nth-child(2){
    background-color: getColor('burnt-sienna');

     transform-origin:0% 0%;

  }
   .feature:nth-child(3){
    background-color:getColor('bluewood');
    transform:translateX(290px) translateZ(-220px);
     transform-origin:0% 0%;

  }

#why{

  @include media-breakpoint-down(sm){

    display:none;
  }
}