#recentlyAddedRoomsSection{
    @include media-breakpoint-only(xs){
        h3{
            font-size: 17pt; 
        }
    }
    @include media-breakpoint-up(lg){
        padding-top: 30px;
    }
}
#viewAllButton{
    margin-top: 15px;
    margin-bottom: 20px;
}

// recent rooms
.recent-rooms{
    @include media-breakpoint-up(lg){
        margin-top: -13px;
    }
    
    @include make-row();
    margin:0px;
    //padding:1% 2%;
    .room{
          @extend .card;
          float:left;
          width:96%;
          margin:2% 2%;
          border-radius:0px 0px 10px 10px;
          box-shadow:5px 5px 10px  rgba(0,0,0,0.5);
          position:relative;
          border:1px solid grey;
          @include media-breakpoint-up(md){
            width:40%;
            margin:3% 5%;
          }
          @include media-breakpoint-up(lg){
            width:23.33%;
            margin:8% 2.5%;
          }
          @include media-breakpoint-up(xl){ 
            width:20%;
            margin:2.5% 2.5%;
      }
    } //end of recent room
} //end of recent-rooms

.room{
    .card-img-top{
    width:100%;
    height:200px;
    border-radius:0px;
    @include media-breakpoint-up(lg){
        height:150px;
    }
    }
  .address{
    display:block;
    padding:20px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:$text-color-body;
    font-size:20px;
    font-weight:600;
}

  .rent{
    position:absolute;
    height:40px;
    background-color: rgba(0,0,0,.5);
    top:160px;
    right:0;
    line-height:40px;
    width:70px;
    text-align:center;
    color:#FFF;
    @include media-breakpoint-up(lg){
      top:110px;
    }
  }

.label{
    width:0;
    height:0;
    border-top:35px getColor('burnt-sienna-dark') solid;
    border-left:35px getColor('burnt-sienna-dark') solid;
    border-right:35px transparent solid;
    border-bottom:35px transparent solid;
    color:#FFF;
    position:absolute;
    top:0;
    left:0;
    span{
        position:relative;
        display:block;
        top:-12px;
        left:-25px;
        transform:rotate(-45deg);
        }
    }
}
.features{
    @include make-row();
    padding:50px;
  }
.feature-container{
    height:200px;
    width:200px;
    position:relative;
    margin:auto;
    perspective:1200px;
    transform-style: preserve-3d;
}
.feature{
    @extend .card;
    width:250px;
    height:250px;
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    color:#FFF;
    box-shadow:0px 20px 50px  rgba(0,0,0,0.4);
    padding:20px;
    text-align:center;
    h5{
      padding-top: 10px;
      padding-bottom:20px;
      position:relative;
    }
    h5:after{
      content:"";
      position:absolute;
      border-bottom:1px solid #FFF;
      display:inline-block;
      margin:auto;
      margin-top:32px;
      width:60%;
      left:20%;
    }
  }

  .feature:nth-child(1){
    background-color: getColor('bluewood');
    transform:translateX(-280px) translateZ(-220px);
    transform-origin:0% 0%;
  }
  .feature:nth-child(2){
    background-color: getColor('burnt-sienna');
    transform-origin:0% 0%;
  }
   .feature:nth-child(3){
    background-color:getColor('bluewood');
    transform:translateX(290px) translateZ(-220px);
     transform-origin:0% 0%;
  }

#why{
    margin-bottom: 40px;
    @include media-breakpoint-up(md){
        margin-top:30px;
        .features{
            padding-top: 20px;
            @include make-row();
            margin-left: -65px;
        }
    }
    @include media-breakpoint-down(sm){
        display:none;
      }
}
.signUpRequest{
    //@include make-row();
    @include make-col(12);
    color: white;
    font-size: 18pt;
    text-align: center;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    @include media-breakpoint-down(sm){
        display: none;
    }
}

