.hero{

	height:45vh;
	background-image:url('../images/hero.jpg');
	background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center; 
  padding:20px 10px;

  h1{

    display:none;
  }

  @include media-breakpoint-up(md){
    
    padding:50px 10px;

    
     h1{

    font-family:$font-moteserrat;
    font-weight:400;
    text-shadow:4px 4px 4px black;
    color:getColor('white');
    text-align:center;
    display:block;

    }

  } 
} //end of hero

.search-box{
  
  @include make-col-ready();
  @include make-col(12);
  text-align:center;
  border:1px gray solid;
  background: rgba(51, 51, 51, 0.4);

  margin-top:20px;
  min-height:150px;
  padding-top:50px;


  

  //only tablet
  @include media-breakpoint-only(md){		
      @include make-col(10);
      @include make-col-offset(1);

    }


//desktop and up
 @include media-breakpoint-up(lg){    
      @include make-col(6);
      @include make-col-offset(3);}

}



