
.carousel-wrapper{

    @include make-row();
    // border:1px red solid;
    height:30vh;
    position:relative;


    @include media-breakpoint-up(lg){

        height:45vh;

    }
    
}

.carousel-indicator-wrapper{
position:relative;
   
}

#room-carousel{

    @include make-col-ready();
    @include make-col(12);
    height:100%;
    // border:2px black solid;
    padding:0;
    border:1px solid grey;

    @include media-breakpoint-up(md){

        @include make-col(8);
        @include make-col-offset(1);

    }
    @include media-breakpoint-up(lg){

        @include make-col(5);
        @include make-col-offset(3);
    }

@extend .carousel-inner;

} //end of carousel


        .carousel-item{

    width:100%;
    height:100%;
    

img{
    
    width:100%;
    height:100% !important;
   
}


   

}



//carousel indicator on left above ipad
.carousel-indicator-wrapper{

    @include make-col-ready();
    @include make-col(12);
    height:100px;
    padding:0;
    margin:0;
    position:relative;
    // border:2px yellow solid;
    background-color: rgba(0,0,0,0.9);

    @include media-breakpoint-up(md){

        @include make-col(2);
        height:100%;
        

    }
    @include media-breakpoint-up(lg){

        @include make-col(1);


    }
} //end of carousel-inidcator wrapper

.carousel-control-top,.carousel-control-bottom{

    position:absolute;

    margin:0;
    text-align:center;
    height:100%;
    color:#FFF;
    font-size:32px;
    line-height:100px;
    padding:0;
    display:none;
   

    &:hover{

        color:getColor('burnt-sienna-dark');
    }

    @include media-breakpoint-up(md){
        
        display:block;
        height:50px;
        line-height:50px;
        width:100%;

        span{

            transform:rotate(90deg);
        }
        
    }
}


.carousel-control-top{

    left:0;
   @include media-breakpoint-up(md){
        
       top:10px;
       left:0;

   }

}

.carousel-control-bottom{

    right:10px;
   @include media-breakpoint-up(md){
        right:0;
       bottom:10px;
        
   }
}







.carousel-indicator{

margin:0px 0px;
padding:50px 0px;

list-style-typ:none;
display:flex;
flex-direction:row;
align-items:center;
justify-content:center;

li{

list-style-type:none;
margin:0px 10px;
    
    }
.carousel-thumbnail{

        width:50px;
        height:50px;
        border:3px #FFF solid;
    }
@include media-breakpoint-up(md){

flex-direction:column;
align-items:center;
justify-content:space-between;

li{

list-style-type:none;
margin:10px 0px;
    
    }

    .carousel-thumbnail{

        width:80px;
        height:50px;
        border:3px #FFF solid;
    }
}





    
}




























