
.carousel-wrapper{

    @include make-row();
    // border:1px red solid;
    height:30vh;
    position:relative;

    
    @include media-breakpoint-up(lg){

        height:45vh;

    }
    
}


#room-carousel{

    @include make-col-ready();
    @include make-col(12);
    @extend .carousel-inner;
    height:100%;
    padding:0;
    border:1px solid grey;


    @include media-breakpoint-up(md){

        @include make-col(8);
        @include make-col-offset(1);
    }

    @include media-breakpoint-up(lg){

        @include make-col(5);
        @include make-col-offset(3);
    }
} //end of room-carousel


.carousel-item{

    width:100%;
    height:100%;
    
    img{
    
        width:100%;
        height:100% !important;
    }
}
// end of carrousel-item


//carousel indicator on left above ipad
.carousel-indicator-wrapper{

    @include make-col-ready();
    @include make-col(12);
    height:100px;
    padding:0;
    margin:0;
    position:relative;
    background-color: rgba(0,0,0,0.9);

    @include media-breakpoint-up(md){

        @include make-col(2);
        height:100%;    
    }

    @include media-breakpoint-up(lg){

        @include make-col(1);
    }
} //end of carousel-inidcator wrapper


/** carousel-indicator */
.carousel-indicator{

    align-items:center;
    display:flex;
    flex-direction:row;
    justify-content:center;
    list-style-typ:none;
    margin:0px 0px;
    padding:20px 10px;

    li{

        list-style-type:none;
        margin:0px 10px;
    }

    .carousel-thumbnail{

        border:3px #FFF solid;
        height:50px;
        width:80px;
    }


    @include media-breakpoint-up(md){
        
        padding:50px 0px;
        align-items:center;
        flex-direction:column;
        justify-content:space-between;

        li{

            list-style-type:none;
            margin:10px 0px;
        
        }

        .carousel-thumbnail{

            border:3px #FFF solid;
            height:50px;
            width:80px;
        }
    }
} //end of carousel-indicator


//carousel-control top,bottom
.carousel-control-top,.carousel-control-bottom{

    color:#FFF;
    display:none;
    font-size:32px;
    height:100%;
    line-height:100px;
    margin:0;
    padding:0;
    position:absolute;
    text-align:center;
   
    span{
        
        color:#FFF;
        
        &:hover{

        color:getColor('burnt-sienna-dark');
        }

    }

    @include media-breakpoint-up(md){
        
        display:block;
        height:50px;
        line-height:50px;
        width:100%;

        span{

            transform:rotate(90deg);
        }
        
    }
} //end of caarousel-control



// caraousel-contrl-top
.carousel-control-top{

    left:0;
   @include media-breakpoint-up(md){
        
       top:10px;
       left:0;
   }

}


.carousel-control-bottom{

    right:10px;
   @include media-breakpoint-up(md){
        
        right:0;
        bottom:10px;
        
   }
}


/** room-details-wrapper **/
.room-details-wrapper{

    @include make-row();
    
}


.room-details{

    @inlucde make-col-ready();
    @include make-col(12);
    background-color: #fff;
    padding:20px 50px;
    // border:1px solid grey;



    @include media-breakpoint-up(md){

        @include make-col(10);
        @include make-col-offset(1);
    }

    @include media-breakpoint-up(lg){

        @include make-col(6);
        @include make-col-offset(3);
    }

    h5{

        font-family:$font-moteserrat;
        font-weight:600;
        font-size:18px;
    }

    p{

        text-align:left;
    }

}


#email-owner{
    
    @include make-row();
    margin-top:15px;

    .email-form-wrapper{

        @include make-col(12);
        @include media-breakpoint-up(md){

            @include make-col(8);
        }


    }

} //end of email-owner



.email-option{
    overflow: auto;
    .btn-close{

        display:none;
        height:90px;
        width:90px;
        font-size:55px;
        float:right;  
        }
}

















