
//  365 brand colors

$tsf-colors : (


	'bluewood'		:   #354458,
	'bluewood-dark' 	:   #021125,
	'burnt-sienna' 		:   #EB7260,
	'burnt-sienna-dark'     :   #B83F2D,
	'pale-sky'              :   #6B757E,
	'pale-sky-dark'		:   #38424B,
	'mercury' 		:   #E9E9E9,
	'white'			:   #FFFFFF,
	'emrald'		:   #29aba4



);


//font-stacks

//web fonts and fontface
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
	font-family:'Metrize-Icons';
	src:url('../fonts/Metrize-Icons/Metrize-Icons.eot');
	src:url('../fonts/Metrize-Icons/Metrize-Icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Metrize-Icons/Metrize-Icons.woff') format('woff'),
		url('../fonts/Metrize-Icons/Metrize-Icons.ttf') format('truetype'),
		url('../fonts/Metrize-Icons/Metrize-Icons.svg#Metrize-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}




//font-family variables 
//
$font-moteserrat: 'Montserrat', sans-serif;
$font-news-cycle:'News Cycle', sans-serif;
$font-metrize : 'Metrize-Icons';
$font-oleo: 'Arizonia', Helvetica, sans-serif;


//font scale variables

$type-scale: (
	
  'small': 0.75rem,  // small text
  'body-text': 1rem,      // body text
  'large-text': 1.333rem,  // large text
  'main-heading': 1.777rem   // main heading
);



//contextul font variables

$text-color-body:#38424B;
$text-color-heading:#021125;
$text-color-footer:#FFFFFF;
$text-color-footer-link-hover:#B83F2D;






//icon variables
$social-icons :(
	'youtube': ( 'unicode':'\e02c','color':#bb0000),
	'facebook' : ( 'unicode':'\e045','color':#3b5998),
	'twitter':( 'unicode':'\e033','color':#55acee),
	'google':( 'unicode':'\e041','color':#dd4b39),

	);
//

//layout 
$nrm-top-navbar-height:75px;

///