
//  365 brand colors

$tsf-colors : (

	'bluewood'		:   #354458,
	'bluewood-dark' 	:   #021125,
	'burnt-sienna' 		:   #EB7260,
	'burnt-sienna-dark'     :   #B83F2D,
	'pale-sky'              :   #6B757E,
	'pale-sky-dark'		:   #38424B,
	'mercury' 		:   #E9E9E9,
	'white'			:   #FFFFFF


);


//font-stacks

//web fonts
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$font-moteserrat: 'Montserrat', sans-serif;

$font-news-cycle:'News Cycle', sans-serif;


$type-scale: (
  'small': 0.75rem,  // small text
  'body-text': 1rem,      // body text
  'large-text': 1.333rem,  // large text
  'main-heading': 1.777rem   // main heading
);


//layout 
$nrm-top-navbar-height:75px;