
//  365 brand colors

$tsf-colors : (

	'bluewood'			: 	#354458,
	'bluewood-dark' 	: 	#021125,
	'burnt-sienna' 		: 	#EB7260,
	'burnt-sienna-dark' : 	#B83F2D,
	'pale-sky'			:	#6B757E,
	'pale-sky-dark'		: 	#38424B,
	'mercury' 			: 	#E9E9E9,
	'white'				:	#FFFFFF


);