<navigation></navigation>
<section>
    <h3>Password Change</h3>
    <div class="page-wrapper">
        <div class="page-container">
                <form role="form" name="passwordChangeForm" novalidate>

                    <!-- Errors -->
                    <div class="form-group">
                        <div class="input-wrapper-right">
                            <div class="error-block">
                            <p>{{errorMessage}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Old password -->
                    <div class="form-group" ng-class="{'has-danger':passwordChangeForm.password.$invalid && passwordChangeForm.password.$dirty,'has-success':passwordChangeForm.password.$valid}">
                        <label class="label-control" for="oldPassword">Old Password:</label>
                        <div class="input-wrapper-medium">
                            <input type="password" 
                            class="form-control" 
                            id="oldPassword" 
                            ng-model="pwd.oldPassword"
                            name="password"
                            required
                            ng-class="{'form-control-danger':passwordChangeForm.password.$invalid && passwordChangeForm.password.$dirty,'form-control-success':passwordChangeForm.password.$valid}">

                            <div class="error-block" ng-show="passwordChangeForm.password.$invalid && passwordChangeForm.password.$dirty">
                            <p>Please enter old password.</p>
                            </div>
                            <!-- ENd of error-block -->
                        </div>
                        <!-- End of input-wrapper -->
                    </div>
                    <!-- ENd of form-group -->
                    

                    <!-- New password -->
                    <div class="form-group" ng-class="{'has-danger':passwordChangeForm.newPassword.$invalid && passwordChangeForm.newPassword.$dirty,'has-success':passwordChangeForm.newPassword.$valid}">
                        <label class="label-control" for="pwd">New Password:</label>
                        <div class="input-wrapper-medium">
                            <input type="password" 
                            class="form-control" 
                            id="pwd" 
                            ng-model="pwd.newPassword"
                            name="newPassword"
                            ng-minlength="6"
                            ng-maxlength="8"
                            required
                            ng-class="{'form-control-danger':passwordChangeForm.newPassword.$invalid && passwordChangeForm.newPassword.$dirty,'form-control-success':passwordChangeForm.newPassword.$valid}"
                            >
                            <div class="error-block" ng-show="passwordChangeForm.newPassword.$invalid && passwordChangeForm.newPassword.$dirty">
                            <p>Please enter valid password between 6 - 8 characters.</p>
                            </div>
                            <!-- ENd of error-block -->
                        </div>
                        <!-- End of input-wrapper -->
                    </div>
                    <!-- End of input-group -->
                    

                    <!-- Password confirmation -->
                    <div class="form-group">
                        <label class="label-control" for="pwd">Confirm Password:</label>
                        <div class="input-wrapper-medium">
                            <input type="password" class="form-control" id="pwd" ng-model="pwd.confirmPassword">
                        </div>
                        <!-- End of input-wrapper -->
                    </div>
                    <!-- End of form-group -->
                    

                    <!-- Change button -->
                    <div class="form-group">
                        <div class="input-wrapper-right">
                            <button class="btn-general" ng-click="changePassword(pwd)">Change</button>
                        </div>
                    </div>
                </form>               
        </div>
        <!-- End of page-container -->
    </div>
    <!-- End of page-wrapper -->
</section>