<navigation></navigation>
<section>
    <h3>Password Change</h3>
    <div class="page-wrapper">
        <div class="page-container">
                <form role="form">

                    <!-- Errors -->
                    <div class="form-group">
                        <div class="input-wrapper-right">
                            <div class="error-block">
                            <p>{{errorMessage}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Old password -->
                    <div class="form-group">
                        <label class="label-control" for="oldPassword">Old Password:</label>
                        <div class="input-wrapper-small">
                            <input type="password" class="form-control" id="oldPassword" ng-model="pwd.oldPassword">
                        </div>
                    </div>
                    

                    <!-- New password -->
                    <div class="form-group">
                        <label class="label-control" for="pwd">New Password:</label>
                        <div class="input-wrapper-small">
                            <input type="password" class="form-control" id="pwd" ng-model="pwd.newPassword">
                        </div>
                    </div>
                    

                    <!-- Password confirmation -->
                    <div class="form-group">
                        <label class="label-control" for="pwd">Confirm Password:</label>
                        <div class="input-wrapper-small">
                            <input type="password" class="form-control" id="pwd" ng-model="pwd.confirmPassword">
                        </div>
                    </div>
                    

                    <!-- Change button -->
                    <div class="form-group">
                        <div class="input-wrapper-right">
                            <button class="btn-general" ng-click="changePassword(pwd)">Change</button>
                        </div>
                    </div>
                </form>
                
        </div>
        <!-- End of page-container -->
    </div>
    <!-- End of page-wrapper -->
</section>