<!-- Navigation -->



<div ng-show="hideHome" class="hero-search">
    <div class="search-box-small">
        <search-room></search-room>
    </div> <!--End of search-box -->
</div>

<div ng-hide="hideHome" class="hero">
    <div class="search-box">
        <search-room></search-room>
    </div> <!--End of searc-box -->
</div>

<!--
<section ng-if="!hideHome">
    
    
    
    <div>
        <div class="card-group" ng-repeat="cnt in count">
            <div class="card" ng-repeat="room in moreRooms">
                <div ng-if="room.images.length > 0">
                    <a href="/roomDetail/{{room._id}}">
                        <img class="card-img-top img-thumbnail" src="https://s3-ap-southeast-2.amazonaws.com/nrm/{{room.images[0]}}" alt="">
                    </a>
                </div>
                <div ng-if="room.images.length < 1">
                    <a href="/roomDetail/{{room._id}}">
                        <img class="card-img-top img-thumbnail" src="images/nrmLogo.png" alt="Room Image">
                    </a>
                </div>
                <span class="btn btn-success btn-sm roomRent">{{room.rent}} /W</span>
                <div class="card-block">
                    <span class="roomDetailTitle">
                        <a href="/roomDetail/{{room._id}}">{{room.suburb}}, {{room.state}}{{room.postcode}} </a>
                    </span>

                    <!--
                    {{room.unit}} / {{room.street_no}}, {{room.street}}, {{room.suburb}}
                   
                </div>
            </div>
        </div>
    </div>
    <div ng-if="showButton">
        <a href="/roomPagination" class="btn btn-primary btn-md btn-block" ng-click="getRooms(2)">View all</a>
    </div>
</section>

<div ng-if="endOfPage">
    No more rooms
</div>

<!--
 <section>
    <div ng-repeat="room in searchedRoom">
        <div >
            <div>
                {{room.images}}
            </div>
            <h2><a href="/roomDetail/{{room._id}}">{{room.suburb}}</a></h2>
            {{room.unit}} / {{room.street_no}}, {{room.street}}, {{room.suburb}}, {{room.postcode}}, {{room.rent}}
        </div>
 -->


<!-- Recent Rooms Section-->
<section ng-if="!hideHome">
    <h3>Recently Added Rooms</h3> <!-- Heading -->
    <!-- Recent Room Container -->
    <div class="recent-rooms">
        <!-- Recent Room Card -->
        <div class="room" ng-repeat="room in rooms"> 
            <img class="card-img-top" 
            ng-src="{{room.images.length > 0 &&  'https://s3-ap-southeast-2.amazonaws.com/nrm/'+room.images[0] || 'images/room1.jpg'}}" alt="Card image cap">

            <a href="/roomDetail/{{room._id}}" class="address">{{room.suburb}}, {{room.state}} {{room.postcode}}</a>
            <span class="rent">${{room.rent}}</span>
            <div class="label"><span>New</span></div> <!-- Angled New Label -->
        </div>
        <!-- End of Recent Room Card -->
    </div>
    <!-- Recent Room Container -->
    <a href="/roomPagination" class="btn btn-primary btn-md btn-block">View all</a>
</section>



<!-- End of Recent Rooms Section-->
<search-result></search-result>
<!-- Services Section -->
<section>
<h3>Why Nepali RoomMates</h3>
</section>
<!-- End Services Section -->

<!-- Footer -->



<!--End of Footer  -->


<!-- </div>
<div class="conatiner" ng-if="!hideHome">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <ul class="pagination pagination-lg">
                <li><a href="#"><span class="glyphicon glyphicon-backward" ng-click="backward()"></span></a></li>
                <li><a href="#" ng-click="getRooms(1)">1</a></li>
                <li><a href="#" ng-click="getRooms(2)">2</a></li>
                <li><a href="#" ng-click="getRooms(3)">3</a></li>
                <li><a href="#" ng-click="getRooms(4)">4</a></li>
                <li><a href="#" ng-click="getRooms(5)">5</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-forward" ng-click="forward()"></span></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" ng-repeat="room in searchedRoom">
        <div class="col-sm-8 jumbotron" id="ab">
            <div class="thumbnail">
                {{room.images}}
            </div>
            <h2><a href="/roomDetail/{{room._id}}">{{room.suburb}}</a></h2>
            {{room.unit}} / {{room.street_no}}, {{room.street}}, {{room.suburb}}, {{room.postcode}}
            <span class="badge pull-right">{{room.rent}}</span>
        </div>
        
    </div>
</div>

<div ng-if="endOfPage">
    No more rooms
</div>

<div class="container" ng-if="!hideHome">
    <h3>Recently added rooms</h3>
    <div class="row" ng-repeat="room in rooms">
        <div class="col-sm-8 jumbotron" id="ab">
            <div class="thumbnail">
                
            </div>
            <h2><a href="/roomDetail/{{room._id}}">{{room.suburb}}</a></h2>
            {{room.unit}} / {{room.street_no}}, {{room.street}}, {{room.suburb}}, {{room.postcode}}
            <span class="badge pull-right">{{room.rent}}</span>
        </div>
        
    </div>
</div>
<div class="container" ng-if="!hideHome">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <ul class="pagination pagination-lg">
                <li><a href="#"><span class="glyphicon glyphicon-backward" ng-click="backward()"></span></a></li>
                <li><a href="#" ng-click="getRooms(1)">1</a></li>
                <li><a href="#" ng-click="getRooms(2)">2</a></li>
                <li><a href="#" ng-click="getRooms(3)">3</a></li>
                <li><a href="#" ng-click="getRooms(4)">4</a></li>
                <li><a href="#" ng-click="getRooms(5)">5</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-forward" ng-click="forward()"></span></a></li>
            </ul>
        </div>
    </div>
</div>


 -->
 
 

